body{
    padding: 15% 5% 5% 5%;
    margin: 0 auto;
    max-width: 600px;
}
.bottom-pict{
    width: 30%;
    min-width: 200px;
    bottom:0;
    left:20px;
}
.left-pict{
    width: 10%;
    min-width: 100px;
    right:0;
    top: 50px;
}
.fixed-bg-pict{
    z-index: -1000;
    opacity: 50%;
    position: fixed;
}
.fixed-bg-pict:hover{
    opacity:100%;
    /* ?Hover works but not when it is behind another element. Is there an easy fix? */
}